<dl>
{{#each params}}
  <dt>
    <span class="param">{{@key}}</span>
    {{#if type}}<span class="badge">{{type}}</span>{{/if}}
    {{#if required}}<span class="badge">required</span>{{/if}}
  </dt>
  <dd>
    {{#if default}}
      Default:
      <code>{{default}}</code>
    {{/if}}
    {{#if pattern}}
      Pattern:
      <code>{{pattern}}</code>
    {{/if}}
    {{#if minimum}}
      Minimum:
      <code>{{minimum}}</code>
    {{/if}}
    {{#if maximum}}
      Maximum:
      <code>{{maximum}}</code>
    {{/if}}
  </dd>
  <dd>
    {{#if description}}
      {{markdown description}}
    {{/if}}
    {{#if enum}}
      Possible values:
      <ul>
      {{#each enum}}
        <li><tt>{{this}}</tt></li>
      {{/each}}
      </ul>
    {{/if}}
    {{#if example}}
      Example:
      <code>{{example}}</code>
    {{/if}}
  </dd>
{{/each}}
</dl>
